{{>header}}
<div class="text-center"> 
    <div class="card" style="width: 18rem;">
    <img src="/38b528a2f768a01bf691f1fcbc89a93d.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{mensaje}}</h5>
        <p class="card-text">Página no encontrada</p>
        <a href="/" class="btn btn-primary">Ir a la página principal</a>
    </div>
    </div>
</div>
{{>footer}}